:root {
    --fuenteheading: 'EB Garamond', serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #caff3a;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor {
    /*max-width: 120rem;
    width: 90%;*/
    width: min(90%, 129rem);
    margin: 0 auto;
    position: relative;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: var(--fuenteheading);
    margin: 1rem 0;
}
h1 {font-size: 4.8rem;}
h2 {font-size: 4.0rem;}
h3 {font-size: 3.2rem;}
h4 {font-size: 2.8rem;}

img {
    max-width: 100%;
}

hr {
    margin: 2rem 0;
}
.no-margin {
    margin: 0;
}
.centrar-texto {
    text-align: center;
}
/* --------------------------------------------HEADER----------------------------------------------*/

.header:before {
    content: '';
    height: 600px;
	position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.header {
    background-image: url(../img/fondo.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header--grid {
    padding: 0.5rem;
}
.header__entrada {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .header--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        padding: 3rem;
    }
    .header__entrada {
        display: flex;
        justify-content: left;
    }
}
.header__titulo {
    color: var(--blanco);
}
.header__titulo--delgado {
    font-weight: 400;
}
.header__navegacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:var(--fuenteheading);
    font-size: 2.5rem;
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 2rem;
}
.texto-height--big {
    line-height: 5rem;
}
.texto-height--small {
    line-height: 3rem;
}
@media (min-width: 768px) {
    .header__navegacion {
        justify-content: right;
        flex-direction: row;
        font-size: 2rem;
    }
    .header__texto {
        margin-top: 10rem;
        grid-column: 1/3;
    }
}
.navegacion__enlace {
    color: var(--blanco);
    padding: 1.5rem;
}

/* --------------------------------------------FOOTER----------------------------------------------*/
.footer {
    background-color: var(--negro);
}
.footer--grid {
    padding: 0.5rem;
}
.footer__entrada {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .footer--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        padding: 3rem;
    }
    .footer__entrada {
        display: flex;
        justify-content: left;
    }
}
.footer__navegacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:var(--fuenteheading);
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .footer__navegacion {
        justify-content: right;
        flex-direction: row;
        font-size: 2rem;
    }
}

/*----------------------------------------------PARTE INTERNA --------------------------------------------*/

/* -------------------- INDEX -------------------*/

.main {
    background-color: var(--blanco);
}
.arepas {
    display: flex;
    margin: 2rem;
}
.arepas__box {
    -webkit-box-shadow: 6px 6px 30px 1px rgba(0,0,0,0.9);
    -moz-box-shadow: 6px 6px 30px 1px rgba(0,0,0,0.9);
    box-shadow: 6px 6px 30px 1px rgba(0,0,0,0.9);
    background-color: var(--primario);
    border-radius: 2rem;
}
.arepas__imagen {
    height: 100%;
    padding: 2rem;
}
.arepas__texto  {
    margin: 5%
}